body{
  background-image: url(https://images.unsplash.com/photo-1561324555-88df4bfae809?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2487&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  background-position: center;
  background-color: #104974;
}

h1{
  background: radial-gradient(circle, rgba(174,238,210,1) 76%, rgba(148,187,233,1) 100%);
  -webkit-text-fill-color:transparent;
  -webkit-background-clip: text;
  font-size: 60px;
}
.btn{
  background-color: #98c4e5;
  padding: 15px;
  border: none;
  font-weight: bolder;
  font-size: 20px;
}
input{
    padding: 10px;
    width: 40%;
    border: none;
}
.container{
  display: flex;
  justify-content: center;
}

li{
  list-style-type: none;
  height: 50px;
  width: 30%;
  text-align: center;
  font-size: 20px;
  border-bottom: 1px solid white;
  background-color: rgba(148,187,233,1);
  color: black;
  font-weight: bold;
}
ul{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.crossed{
  color: black;
    font-weight: bold;
    text-decoration: line-through 3px red;
    background-color: pink;;
    transition: all 3s ease;
}
.btnTwo{
  background-color: pink;
  padding: 15px;
  border: none;
  width: 200px;
  font-weight: bolder;
  font-size: 20px;
  color: red;
}